// Colors
$richBlack: #02091A;
$blackCofee: #383338;
$umber: #796157;
$silverPink: #C3B3AC;
$camel: #C89867;
$goldCrayola: #F1C88C;
$deepChampagne: #F4D4A4;
$vegasGold: #CABC4B;
$citron: #98AD26;
$oliveDrab: #86912A;
$armyGreen: #474E29;
$kombuGreen: #243724;