.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Sansita Swashed', cursive;
  line-height: 1.3;
  font-size: 16px;
  font-weight: 300;
  background-image: url("/images/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: #C3B3AC;
}

a, a:hover, a:visited {
  text-decoration: none;
  font-size: 18px;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

p {
  margin: 0;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

h1 {
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2rem;
}

h2 {
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.noscroll {
  overflow: hidden;
}

.header nav {
  position: fixed;
  top: 0;
  background-color: #02091A;
  width: 100%;
  text-align: center;
  height: 4rem;
}

.header__toggle > span {
  display: block;
  text-align: right;
  width: 26px;
  height: 2px;
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header__logo img {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #C3B3AC;
  border-radius: 20px;
  margin: 0.5rem;
  margin-left: 2rem;
  width: 2.125rem;
  height: 2.125rem;
}

.header__links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__links a {
  padding: 30px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: relative;
  color: white;
  font-size: 18px;
}

.header__links a:not(:last-child) {
  margin-right: 5%;
}

.header__links a:hover {
  background-color: #383338;
}

.header__links a:hover::before {
  opacity: 1;
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #383338;
  background: -webkit-gradient(linear, left top, left bottom, from(#383338), to(transparent));
  background: linear-gradient(#383338, transparent);
}

.content {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5rem;
  background-color: white;
  border-radius: 15px;
}

.content .container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center center;
      -ms-flex-align: center center;
          align-items: center center;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__links a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  font-weight: 700;
  padding-top: 14rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 17rem;
  text-align: center;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media (max-width: 63.9375em) {
  .content__links a {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

.jaula_icon {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), to(black)), url(/images/jaula_icon.jpg);
  background-image: linear-gradient(transparent 20%, black), url(/images/jaula_icon.jpg);
}

.jaula_icon:hover {
  color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), to(lightcyan)), url(/images/jaula_icon.jpg);
  background-image: linear-gradient(transparent 30%, lightcyan), url(/images/jaula_icon.jpg);
}

.juguete_icon {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), to(black)), url(/images/juguetes_icon.jpg);
  background-image: linear-gradient(transparent 20%, black), url(/images/juguetes_icon.jpg);
}

.juguete_icon:hover {
  color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), to(lightcyan)), url(/images/juguetes_icon.jpg);
  background-image: linear-gradient(transparent 30%, lightcyan), url(/images/juguetes_icon.jpg);
}

.comida_icon {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), to(black)), url(/images/comida_icon.jpg);
  background-image: linear-gradient(transparent 20%, black), url(/images/comida_icon.jpg);
}

.comida_icon:hover {
  color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), to(lightcyan)), url(/images/comida_icon.jpg);
  background-image: linear-gradient(transparent 30%, lightcyan), url(/images/comida_icon.jpg);
}

.aseo_icon {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), to(black)), url(/images/aseo_icon.jpg);
  background-image: linear-gradient(transparent 20%, black), url(/images/aseo_icon.jpg);
}

.aseo_icon:hover {
  color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), to(lightcyan)), url(/images/aseo_icon.jpg);
  background-image: linear-gradient(transparent 30%, lightcyan), url(/images/aseo_icon.jpg);
}

.productos {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productos iframe {
  margin-left: 2rem;
  margin-right: 2rem;
}

.productos_item {
  display: block;
  border: solid 1px;
  border-color: #C3B3AC;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  width: 100%;
}

.productos_item img {
  margin-top: 1rem;
  max-width: 100%;
  cursor: pointer;
}

@media (min-width: 40em) {
  .productos_item img {
    float: left;
    width: 20%;
    height: 20%;
  }
}

@media (max-width: 39.9375em) {
  .productos_item img {
    width: 100%;
    height: 100%;
  }
}

.productos_item .text {
  text-align: left;
  padding-left: 25%;
  margin-bottom: 1rem;
}

@media (max-width: 39.9375em) {
  .productos_item .text {
    margin-left: 0%;
    padding-left: 0%;
  }
}

.productos_item .text h4 {
  color: #796157;
}

.productos_item .text li {
  margin-bottom: 0.7rem;
}

@media (max-width: 39.9375em) {
  .productos_item .text ul {
    margin-left: 1rem;
    padding-left: 0%;
  }
}

.productos_item .text p {
  margin-top: 1rem;
  font-family: 'Sansita Swashed', cursive;
  font-weight: 400;
  font-size: 16px;
}

.productos_item .text .precio {
  margin-left: 75%;
  margin-bottom: 1rem;
  color: #383338;
  cursor: pointer;
}

@media (max-width: 39.9375em) {
  .productos_item .text .precio {
    margin-left: 5%;
  }
}

.productos_item .text .precio_antiguo {
  margin-left: 75%;
  margin-bottom: 1rem;
  color: #383338;
  cursor: pointer;
  text-decoration: line-through;
}

@media (max-width: 63.9375em) {
  .productos_item .text .precio_antiguo {
    margin-left: 5%;
  }
}

.productos_item .text .amazon_button {
  margin-top: 1rem;
  font-family: 'Quicksand' , sans-serif;
  display: block;
  margin-left: 70%;
  margin-right: 5%;
  border-color: #9c7e31 #90742d #786025 !important;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7dfa5), to(#f0c14b)) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b) repeat scroll 0 0 rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 12px 6px 12px;
  border: 1px solid transparent !important;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  text-decoration: none !important;
  color: black;
}

@media (max-width: 63.9375em) {
  .productos_item .text .amazon_button {
    margin-left: 5%;
  }
}

.productos_item .text .amazon_button :visited {
  color: black;
}
/*# sourceMappingURL=style.css.map */